# Ignore oXygen project files
*.xpr

# Ignore Liquid Studio files
.lxsopt
.lxsproj

# Ignore test-avls
avlxml*.xml

# Ignore local working documents (not part of repository contents)
local_docs/
_local_docs/